<div class="row">
  <div class="col-md-9">
    <%= image_tag(@mobile.picture_url, width: '100%') if @mobile.picture.present? %>
  </div>

  <div class="col-md-3">
    <p><b>Name: </b><%= @mobile.name %></p>
    <p><b>Description: </b><%= @mobile.description %></p>
    <p><b>Release: </b><%=@mobile.release %></p>
    <p><b>Recommended: </b><%=@mobile.Recommended %></p>
    <p><b>Release: </b><%=@mobile.release %></p>
    <p>
      <%= link_to 'Edit', edit_mobile_path(@mobile) %> |
      <%= link_to 'Destroy', @mobile, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%= link_to 'Back', mobiles_path %>
    </p>
  </div>
</div>
